hw4.ipynb
/python/needle/__pycache__
/python/needle/backend_ndarray/__pycache__
/python/needle/backend_ndarray/ndarray_backend_cpu.cpython-37m-x86_64-linux-gnu.so
/python/needle/backend_ndarray/ndarray_backend_cuda.cpython-37m-x86_64-linux-gnu.so
/python/needle/backend_ndarray/ndarray_backend_cuda.cp39-win_amd64.pyd
/python/needle/backend_ndarray/ndarray_backend_cpu.cp39-win_amd64.pyd
/.pytest_cache
/.vscode
/apps/__pycache__
/tests/__pycache__
/build
/data